<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo">Weber</div>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-list-item"><a href="#" class="item-link">GitHub</a></li>
                    <li class="nav-list-item"><a href="#" class="item-link">Vk</a></li>
                    <li class="nav-list-item"><a href="#" class="item-link">Posts</a></li>
                    <li class="nav-list-item"><a href="#" class="item-link">inst</a></li>
                </ul>   
            </nav>
        </div> <!--header-content-->
    </div> <!--container-->

    <div class="burger-menu">
        <div class="burger-block">
            <div class="burger"></div>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-list-item"><a href="#" class="item-link">GitHub</a></li>
                <li class="nav-list-item"><a href="#" class="item-link">Vk</a></li>
                <li class="nav-list-item"><a href="#" class="item-link">Posts</a></li>
                <li class="nav-list-item"><a href="#" class="item-link">inst</a></li>
            </ul>   
        </nav>

            <ul class="slide-tabs">
                <li class="slide-tabs-item active">Главная</li>
                <li class="slide-tabs-item">Мои скилы</li>
                <li class="slide-tabs-item">Связаться со мной</li>
                <li class="slide-tabs-item">Контакты</li>
            </ul>
           
    </div>
</header>